/* Buttons */
button {
	margin-right: 25px
}

/* Textbox */
textbox {
	
}

h1 {
	text-align: center
}
/* Header */
header.v-mainMenu-view {
	
}

header.v-mainMenu-view nav {
	box-sizing: border-box;
	float: left;
	width: 100%;
	background: #3a3a3a;
	font-size: 16px;
}

header.v-mainMenu-view nav ul {
	margin: 0;
	padding: 0;
}

header.v-mainMenu-view nav a {
	display: block;
	color: #fff;
	text-decoration: none;
}

header.v-mainMenu-view nav ul li {
  position: relative;
  float: left;
  list-style: none;
}
 
header.v-mainMenu-view nav ul li:hover {
  background: #4096ee;
}
 
header.v-mainMenu-view nav ul li a {
    padding: 20px;
}
/* Views Container */
div.views-container {
	
}

div.views-container div {
	margin-left: 200;
	margin-right: 200
}
/* View : login */
div.v-login-view {
	
}

/*View : ideaList */

/* list header */
div.v-ideaList-view ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	text-align: center;
}

/* Float the list items side by side */
div.v-ideaList-view ul.tab li {
	float: left;
}

/* Style the links inside the list items */
div.v-ideaList-view ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of links on hover */
div.v-ideaList-view ul.tab li a:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
div.v-ideaList-view ul.tab li a:focus, .active {
	background-color: #ccc;
}

/* tab content */
div.v-ideaList-view .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

/* View : ideaDetails */
div.v-ideaDetails-view {
	
}

/* View : ideaCreation */
div.v-ideaCreation-view {
	
}

/* View : impress */
div.v-impress-view {
	
}

/* View : profileEdit */
div.v-profileEdit-view {
	
}

/* View : profile */
div.v-profile-view {
	
}