.ideaCreation_view {
    display:none;
}

.ideaCreation_view #ideaCreation_description_textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0px -16px;
}

.ideaCreation_view #ideaCreation_name {
    width: 70%;
    float: left;
}

.ideaCreation_view #ideaCreation_category {
    width: 30%;
    float: left;
}

.ideaCreation_view #ideaCreation_name_input {
    width: 96%;
}
.ideaCreation_view #ideaCreation_category_select {
    width: 100%;
}

.ideaCreation_view #ideaCreation_all_buttons {
    display: inline-block;
}

.ideaCreation_error_span{
    float: right;
}

.ideaCreation_ideaNameError_label {
    display:none;
    padding-right: 20px;
    color: red;
}

.ideaCreation_ideaDescriptionError_label{
    display:none;
    color: red;
}

