
.ideaDetails_view {
  position: relative;
  width: 100%;
  height: 100%;
  //display: none;
}

.ideaDetails_view li {
	list-style : none;
	line-height: 30px;
	display: inline;

}

#ideaDetails_comments_div img {
	vertical-align: middle;
}



#ideaDescription {
	margin-bottom: 20px;
}

#ideaDetails_like_button {
	width: 30px;
	height: 30px;
	padding: 0px;
	margin: 5px;
	background-image:  url("./resources/img/gluehbirneAus.png");
	background-size: 30px 30px;
	vertical-align: middle;
}

#ideaDetails_follower_button {
	width: 30px;
	height: 30px;
	padding: 0px;
	margin: 5px;
	background-image:  url("./resources/img/sternAus.jpg");
	background-size: 30px 30px;
	vertical-align: middle;
}

#ideaDetails_comments_image {
width: 30px;
	height: 30px;
	padding: 0px;
	margin: 5px;
	vertical-align: middle;
}

#ideaDetails_comment_input {
	padding: 15px 50px;
}

#ideaDetails_commentSubmit_button {
	margin-left: 10px;
}

#ideaDetails_contact_a:hover {
	text-decoration: underline;
	color: #1868d9;
}

#ideaDetails_contact_a {
	text-decoration: none;
	cursor: pointer;
    color: #4778d9;
    margin-left: 10px;
}