.login_view {
  width: 100%;
  height: 100%;
  display: none;
}

.v-profileEdit-view .profileEdit-image{
  position: absolute;
  left: 0;
  width: 300px;
}

.v-profileEdit-view .profileEdit-form{
  margin-left: 300px;
}

.v-profileEdit-view .profileEdit-image img
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
}

#profileEdit_browseImage_button {
  width: 250px;
}

.v-profileEdit-view > h1 {
  text-align: left;
}

.v-profileEdit-view input[type=text],
.v-profileEdit-view input[type=email],
.v-profileEdit-view input[type=password],
.v-profileEdit-view select {
  width: 100%;
  display: inline-block;
}

.v-profileEdit-view input[type=submit],
.v-profileEdit-view input[type=button] {
  width: 100%;
}
