<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="styles.css">
    <title>IdeaWatcher</title>
</head>
<body>
    <!---------------------------------- Header --------------------------------->
    <header class="v-mainMenu-view"></header>
    <!----------------------------------- Views Container ----------------------------------->
    <div class="views-container">
        <!----------------------------------- View : login ----------------------------------->
        <div class="v-login-view"></div>
        <!----------------------------------- View : ideaDetails ----------------------------->
        <div class="v-ideaDetails-view"></div>
        <!----------------------------------- View : ideaCreation ---------------------------->
        <div class="v-ideaCreation-view"></div>
        <!----------------------------------- View : impress --------------------------------->
        <div class="v-impress-view"></div>
        <!----------------------------------- View : profileEdit ----------------------------->
        <div class="v-profileEdit-view"></div>
        <!----------------------------------- View : profile --------------------------------->
        <div class="v-profile-view"></div>
    </div>
</body>
</html>
