<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script language="javascript" type="text/javascript"
            src="../../dev/view/javascript/mainViewLogic.js"></script>

    <script type="text/javascript">
        // Get the element with id="defaultOpen" and click on it
        window.onload = function() {
            document.getElementById("defaultOpen").click();
        }
    </script>
    <link rel="stylesheet" href="./ideaWatcher.css">
    <title>IdeaWatcher</title>
</head>
<body onload="javascript:connectWebSocket()">
<!---------------------------------- Header --------------------------------->
<header class="v-mainMenu-view">
    <nav>
        <ul>
            <li><a>Logo</a>
            <li><a href="#" title="Nach Hause">Hot</a></li>
            <li><a href="#" title="Unser Produktsortiment">Trending</a></li>
            <li><a href="#" title="Das sind wir">Fresh</a></li>
            <li><a href="#" title="So erreichen Sie uns">Categories</a></li>
            <li><a href="#" title="Rechtliches">Suche</a></li>
            <li><a href="#" title="Rechtliches">Profil</a></li>
        </ul>
    </nav>
</header>
<h1>Schnapsideen deluxe</h1>
<!----------------------------------- Views Container ----------------------------------->
<div class="views-container">