<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
       <!--link rel="stylesheet" href="./ideaWatcher.min.css"-->
    <link rel="stylesheet" href="./ideaWatcher.css"/>
    <title>IdeaWatcher</title>
</head>
<body onload="ideaWatcher.core.WebSocketConnector.connectToServer('ws://localhost:8080/IdeaWatcher/wsEndpoint')">
    <!---------------------------------- Header --------------------------------->
    <header class="v-mainMenu-view">
        <nav>
            <ul>
                <li><img src="./resources/img/logo.png" width="50px" vspace="-20px"/></li>
                <li><a>Hot</a></li>
                <li><a>Trending</a></li>
                <li><a>Fresh</a></li>
                <li><a>Categories</a>
                    <ul>
                        <li><a>Categorie 1</a></li>
                        <li><a>Categorie 2</a></li>
                        <li><a>Categorie 3</a></li>
                    </ul>
                </li>
                <li style="float:right"><img src="./resources/img/lupe.png" width="20px" vspace="-20px"/></li>
                <li style="float:right"><img src="./resources/img/user.png" width="20px" vspace="-20px"/></li>
                <li style="float:right" class="js-mainMenu-btnLogin"><a title="TEST">Login</a></li>
            </ul>
        </nav>
    </header>
    <!----------------------------------- Views Container ----------------------------------->
    <div class="views-container">