
<!----------------------------------- View : ideaList ---------------------------->
<div class="ideaList_view">
	<section class="ideaList_ideaElement">
		<div>
			<header>Name der Idee</header>
			<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla commodo mollis lacus at aliquam. Fusce vel ornare dolor. Cras
				ut sapien egestas urna vestibulum molestie. Morbi finibus tristique
				ipsum eget lobortis. Vivamus nec sapien tincidunt, fermentum nisl
				ac, finibus diam. Praesent massa ex amet.</div>
		</div>
	</section>
	<ul class="ideaList_ratings">
		<li class="noRightPadding">
			<img src="./resources/gluehbirne.png" width = "20px" height = "20px"/></li>
		<li class = "noLeftPadding">20</li>
		<li>Follower: 3</li>
		<li>Kommentare: 0</li>
	</ul>
	<script>			
//					var liste = document.getElementById("liste");
//					liste.appendChild(ideeElement);
//
//					for (var i = 0, length = 10; i < length; i++)
//					{
//
//						var ideeElement = document.createElement("li");
//						ideeElement.innerHTML = "<article><section>" + i + ". Idee</section><section>Beschreibung</section><section>" + i + " Likes</section></article>";
//						liste.appendChild(ideeElement);
//					}
				</script>
</div>
