        <!----------------------------------- View : ideaDetails ----------------------------->
        <div class="ideaDetails_view">
			<h1 id="ideaHeader">Name of this idea</h1>
			<div id="ideaDescription">text text text text text text text</div>
				<li>
					<button id="ideaDetails_like_button" title="button">
					</button><span>30</span>
				</li>
				<li>
					<button id="ideaDetails_follower_button" title="button">
					</button><span>5</span>
				</li>
				<li>
					<img id="ideaDetails_comments_image" src="./resources/img/comment.png" width = 30px height="30px"/><span>5</span>
				</li>	
				<li>
					<a id="ideaDetails_contact_a">@contact idea provider</a>
				</li>		
			</ul>
			<div id = "ideaDetails_comments_div">
				<img src="./resources/img/user.jpg" width = "50px" height = "50px"/>
				<input id="ideaDetails_comment_input" type="text"><input id="ideaDetails_commentSubmit_button" type="submit">
			</div>
        </div>
