
<!----------------------------------- View : ideaList ---------------------------->
<div class="v-ideaList-view">
	<section class="ideaElement">
		<div>
			<header>Name der Idee</header>
			<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nulla commodo mollis lacus at aliquam. Fusce vel ornare dolor. Cras
				ut sapien egestas urna vestibulum molestie. Morbi finibus tristique
				ipsum eget lobortis. Vivamus nec sapien tincidunt, fermentum nisl
				ac, finibus diam. Praesent massa ex amet.</div>
		</div>
	</section>
	<ul class="ratings">
		<li class ="icon"><img src="./resources/gluehbirne.png" width="20px"
			height="20px" /></li>
		<li>20</li>
		<li>Follower: 3</li>
		<li>Kommentare: 0</li>
	</ul>
	<script>			
					var liste = document.getElementById("liste");
					liste.appendChild(ideeElement);
					
					<!-- for (var i = 0, length = 10; i < length; i++)
					{
								
						var ideeElement = document.createElement("li");
						ideeElement.innerHTML = "<article><section>" + i + ". Idee</section><section>Beschreibung</section><section>" + i + " Likes</section></article>";
						liste.appendChild(ideeElement);
					} ->
				</script>

	<!--  Dieser Teil gehört zum Profil. er definiert das Submenü Meine Ideen, verfolgte Ideen, Benutzerdaten
            <h1>Schnapsideen deluxe</h1>
            <!----------------------------------- View : userProfile : tabs ---------------------------
            
            <ul class="tab">
                <li><a href="javascript:void(0)" class="tablinks"
                       onclick="openTab(event, 'hot')" id="defaultOpen">Hot</a></li>
                <li><a href="javascript:void(0)" class="tablinks"
                       onclick="openTab(event, 'fresh')">Fresh</a></li>
                <li><a href="javascript:void(0)" class="tablinks"
                       onclick="openTab(event, 'trending')">Trending</a></li>
            </ul>
			->
            <!----------------------------------- View : userProfile : tab "hot" ---------------------------
            <div id="hot" class="tabcontent">
                <h3>Hier stehen die am Besten bewerteten Ideen.</h3>
                <img src="./resources/img/test.png" alt="" />
            </div>
	
            <!----------------------------------- View : userProfile : tab "fresh" ---------------------------
            <div id="fresh" class="tabcontent">
                <h3>Hier stehen die neuesten Ideen.</h3>
            </div>

            <!----------------------------------- View : userProfile : tab "trending" ---------------------------
            <div id="trending" class="tabcontent">
                <h3>Hier stehen aufstrebende Ideen.</h3>
            </div>
             -->
</div>
