        <!----------------------------------- View : ideaDetails ----------------------------->
        <div class="ideaDetails_view">
			<h1 id="ideaDetails_ideaHeader_h1">Name of this idea</h1>
			<div id="ideaDetails_description_div">text text text text text text text</div>
			<section id="ideaDetails_iconList_section">
				<button id="ideaDetails_like_button" >
				</button><span>30</span>
				<button id="ideaDetails_follower_button" title="button">
				</button><span>5</span>
				<img id="ideaDetails_comments_image" src="./resources/img/comment.png" width = 30px height="30px"/><span>5</span>
				<a href="mailto: a@c.de" id="ideaDetails_contact_a">Contact idea provider</a>
			</section>
			<section id = "ideaDetails_newComment_section">
				<img src="./resources/img/user.jpg" width = "50px" height = "50px"/>
				<textarea id="ideaDetails_comment_input"></textarea><input id="ideaDetails_commentSubmit_button" type="submit">
			</section>
			<section id = "ideaDetails_existingComments_section">
				<div class="ideaDetails_CommentNameAndText_div">
					<img src="./resources/img/user.jpg" width = "30px" height = "30px"/>
					<div>
						<div class = "ideaDetails_CommentName_div">Mustername</div>
						<div >Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
					</div>
				</div>
				<div class="ideaDetails_CommentNameAndText_div">
					<img src="./resources/img/user.jpg" width = "30px" height = "30px"/>
					<div >
						<div class = "ideaDetails_CommentName_div">Maria Muster</div>
						<div >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui metus, ullamcorper a est vel, bibendum fermentum nisi. Nullam nullam sodales. </div>
					</div>
				</div>
			</section>
        </div>
