		
		<!----------------------------------- View : ideaList ---------------------------->
		<div class="ideaList_view_div">
			<section class="ideaList_ideaElement_section">
				<header class="ideaList_ideaName_header">Name der Idee</header>
				<div class = ideaList_ideaDescription_div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Nulla commodo mollis lacus at aliquam. Fusce vel ornare dolor. Cras
					ut sapien egestas urna vestibulum molestie. Morbi finibus tristique
					ipsum eget lobortis. Vivamus nec sapien tincidunt, fermentum nisl
					ac, finibus diam. Praesent massa ex amet.</div>
			</section>
			<ul class="ideaList_ratings_ul">
				<li><img src="./resources//img/gluehbirne.png" width="20px" height="20px"/><span class="ideaList_numberOfLikes_span"> 20</span></li>
				<li>Follower: <span class="ideaList_numberOfFollowers_span">3</span></li>
				<li>Kommentare: <span class="ideaList_numberOfComments_span">0</span></li>
			</ul>
		</div>
