        <!----------------------------------- View : ideaDetails ----------------------------->
        <div class="ideaDetails_view">
			<h1 id="ideaDetails_ideaHeader_h1"></h1>
			<div id="ideaDetails_description_div"></div>
			<section id="ideaDetails_iconList_section">
				<button id="ideaDetails_like_button" ></button>
				<span id="ideaDetails_likes_span"></span>
				<button id="ideaDetails_follower_button" title="button">
				</button><span id="ideaDetails_follower_span"></span>
				<img id="ideaDetails_comments_image" src="./resources/img/comment.png" width = 30px height="30px"/>
				<span id="ideaDetails_comments_span"></span>
				<a id="ideaDetails_contact_a">Contact idea provider</a>
			</section>
			<form id = "ideaDetails_newComment_form">
				<img id="ideaDetails_userPicture_img" width = "50px" height = "50px"/>
				<textarea id="ideaDetails_comment_input" required></textarea><input id="ideaDetails_commentSubmit_button" type="submit">
			</form>
			<section id = "ideaDetails_existingComments_section">
				
			</section>
        </div>