        <!----------------------------------- View : ideaCreation ---------------------------->
        <div class="ideaCreation_view">
            <h1 id="ideaCreation_newIdea">New Idea</h1>
            <form class="ideaCreation_form"> <!-- action="hierhin_wird_es_mit_submit_geschickt" -->
                <p id="ideaCreation_name">
                    <label for="ideaCreation_name_input" id="ideaCreation_name_label">Name</label>
                    <span class="ideaCreation_error_span">
                        <label class="ideaCreation_ideaNameError_label" for="ideaCreation_name_input">Test</label>
                    </span>
                    <br>
                    <input id="ideaCreation_name_input" type="text" />
                </p>
                <p id="ideaCreation_category">
                    <label for="ideaCreation_category_select" id="ideaCreation_category_label">Category</label><br>
                    <select class="minimal" id="ideaCreation_category_select">
                        <option id="ideaCreation_category_1" value="BUSINESS">Category 1</option>
                        <option id="ideaCreation_category_2" value="COMPUTER">Category 2</option>
                        <option id="ideaCreation_category_3" value="GADGET">Category 3</option>
                        <option id="ideaCreation_category_4" value="HOMEGARDEN">Category 4</option>
                        <option id="ideaCreation_category_5" value="OTHER">Category 5</option>
                        <option id="ideaCreation_category_6" value="SPORTS">Category 6</option>
                        <option id="ideaCreation_category_7" value="TOYS">Category 7</option>
                    </select>
                </p>
                <p style="clear: left;">
                    <label for="ideaCreation_description_textarea" id="ideaCreation_description_label">Description</label><br>
                    <span class="ideaCreation_error_span">
                        <label class="ideaCreation_ideaDescriptionError_label" for="ideaCreation_description_textarea">Test</label>
                    </span>
                    <textarea name="ideaCreation_description_textarea"
                              id="ideaCreation_description_textarea"
                              onfocus="this.value='';">
                    </textarea>
                </p>
                <p id="ideaCreation_all_buttons">
                   <input type="submit" value="publish" id="ideaCreation_publish_button">
                   <input type="submit" value="cancel" id="ideaCreation_cancel_button">
                   <input type="submit" value="save" id="ideaCreation_save_button">
                </p>
            </form>
        </div>
