<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<script language="javascript" type="text/javascript"
	src="../javascript/mainViewLogic.js"></script>
<script type="text/javascript">
	// Get the element with id="defaultOpen" and click on it
	window.onload = function() {
		document.getElementById("defaultOpen").click();
	}
</script>
	<link rel="stylesheet" href="../../../dist/private/ideaWatcher.css">
<title>IdeaWatcher</title>
</head>
<body>
	<!---------------------------------- Header --------------------------------->
	<header class="v-mainMenu-view">
		<nav>
			<ul>
				<li><a>Logo</a>
				<li><a href="#" title="Nach Hause">Hot</a></li>
    			<li><a href="#" title="Unser Produktsortiment">Trending</a></li>
    			<li><a href="#" title="Das sind wir">Fresh</a></li>
   				<li><a href="#" title="So erreichen Sie uns">Categories</a></li>
   				<li><a href="#" title="Rechtliches">Suche</a></li>
   				<li><a href="#" title="Rechtliches">Profil</a></li>
			</ul>
		</nav>
	</header>
	<!----------------------------------- Views Container ----------------------------------->
	<div class="views-container">
		<!----------------------------------- View : login ----------------------------------->
		<div class="v-login-view"></div>
		<!----------------------------------- View : ideaDetails ----------------------------->
		<div class="v-ideaDetails-view"></div>
		<!----------------------------------- View : ideaList ---------------------------->
		<div class="v-mainView-view">
			<h1>Schnapsideen deluxe</h1>
			<!----------------------------------- View : ideaList : tabs ---------------------------->
			<ul class="tab">
				<li><a href="javascript:void(0)" class="tablinks"
					onclick="openTab(event, 'hot')" id="defaultOpen">Hot</a></li>
				<li><a href="javascript:void(0)" class="tablinks"
					onclick="openTab(event, 'fresh')">Fresh</a></li>
				<li><a href="javascript:void(0)" class="tablinks"
					onclick="openTab(event, 'trending')">Trending</a></li>
			</ul>

			<!----------------------------------- View : ideaList : tab "hot" ---------------------------->
			<div id="hot" class="tabcontent">
				<h3>Hier stehen die am Besten bewerteten Ideen.</h3>
				<img src="../test.png" alt="" />
			</div>

			<!----------------------------------- View : ideaList : tab "fresh" ---------------------------->
			<div id="fresh" class="tabcontent">
				<h3>Hier stehen die neuesten Ideen.</h3>
			</div>

			<!----------------------------------- View : ideaList : tab "trending" ---------------------------->
			<div id="trending" class="tabcontent">
				<h3>Hier stehen aufstrebende Ideen.</h3>
			</div>
		</div>

		<!----------------------------------- View : ideaCreation ---------------------------->
		<div class="v-ideaCreation-view"></div>
		<!----------------------------------- View : impress --------------------------------->
		<div class="v-impress-view"></div>
		<!----------------------------------- View : profileEdit ----------------------------->
		<div class="v-profileEdit-view"></div>
		<!----------------------------------- View : profile --------------------------------->
		<div class="v-profile-view"></div>
	</div>
<script src="./../../../dist/private/ideaWatcher.js"></script>
</body>
</html>
