        <!----------------------------------- View : login ----------------------------------->
        <div class="v-login-view">
                <div class="vLogin-contiLogin">
                        <form class="js-Login-form-login">
                                <h1>Login</h1>
                                <p>
                                    <label for="login-txt-username" id="vLogin_username_label">Email / Username</label><br>
                                    <input id="login-txt-username" class="js-login-txt-username vLogin-inputTxt" type="text" placeholder="username" required />
                                </p>
                                <p>
                                    <label for="login-txt-password" id="vProfEdit_password_label">Password</label><br>
                                    <input id="login-txt-password" class="js-login-txt-password vLogin-inputTxt" type="password" placeholder="password" required />
                                </p>
                                <p>
                                    <input type="submit" class="js-login-btn-login" value="Login">
                                    <button type="button" class="vLogin-forgotPassword">Forgot Password</button>
                                </p>
                        </form>
                </div>
        </div>