        <!----------------------------------- View : login ----------------------------------->
        <div class="login_view">
            <div class="login_container">
                <form class="login_form">
                    <h1>Login</h1>
                    <p>
                        <label for="login_userName_input" id="login_userName_label">Email / Username</label><br>
                        <input id="login_userName_input" class="login_userName_input"
                               type="text" placeholder="username" required />
                    </p>
                    <p>
                        <label for="login_password_input" id="login_password_label">Password</label><br>
                        <input id="login_password_input" class="login_password_input"
                               type="password" placeholder="password" required />
                    </p>
                    <p>
                        <input type="submit" class="login_submit_button" value="Login">
                        <button type="button" class="login_forgotPassword_button">Forgot Password</button>
                    </p>
                </form>
            </div>
        </div>