        <!----------------------------------- View : login ----------------------------------->
        <div class="login_view">
            <div class="login_container">
                <form class="login_form">
                    <h1 id="login_header_h1">UserSession</h1>
                    <p>
                        <label for="login_userName_input" id="login_userName_label">Email / Username</label><br>
                        <input id="login_userName_input" class="login_userName_input"
                               type="text" placeholder="" required />
                    </p>
                    <p>
                        <label for="login_password_input" id="login_password_label">Password</label><br>
                        <input id="login_password_input" class="login_password_input"
                               type="password" placeholder="" required />
                    </p>
                    <p>
                        <input type="submit" class="login_submit_button" value="UserSession">
                        <button type="button" class="login_forgotPassword_button">Forgot Password</button>
                    </p>
                </form>
            </div>
        </div>