    <!---------------------------------- Header --------------------------------->
    <header class="mainMenu_view">
        <nav>
            <ul class="mainMenu_buttons_ul">
                <li class="mainMenu_homeButton_li">
                    <img id="mainMenu_homeButton_img"
                         src="./resources/img/logo.png"
                         data-buttonid="HOT"/>
                </li>
                <li class="mainMenu_ideaList_li">
                    <div id="mainMenu_hot_button" data-buttonid="HOT">Hot</div>
                </li>
                <li class="mainMenu_ideaList_li">
                    <div id="mainMenu_trending_button" data-buttonid="TRENDING">Trending</div>
                </li>
                <li class="mainMenu_ideaList_li">
                    <div id="mainMenu_fresh_button" data-buttonid="FRESH">Fresh</div>
                </li>
                <li class="mainMenu_category_li">
                    <div class="mainMenu_category_button" data-buttonid="CATEGORY">
                        Categories
                    </div>
                    <ul class="mainMenu_dropdownCategories_ul">
                       <li>
                           <div id="mainMenu_businessCategory_button" data-buttonid="BUSINESS">
                               Business & Science
                           </div>
                       </li>
                       <li>
                           <div id="mainMenu_computerCategory_button" data-buttonid="COMPUTER">
                               Computer & Electronics
                           </div>
                       </li>
                       <li>
                           <div id="mainMenu_gadgetCategory_button" data-buttonid="GADGET">
                               Gadget
                           </div>
                       </li>
                       <li>
                           <div id="mainMenu_homeCategory_button" data-buttonid="HOMEGARDEN">
                               Home & Garten
                           </div>
                       </li>
                       <li>
                           <div id="mainMenu_sportsCategory_button" data-buttonid="SPORTS">
                               Sports & Outdoor
                           </div>
                       </li>
                       <li>
                           <div id="mainMenu_toysCategory_button" data-buttonid="TOYS">
                               Toys, Children & Pets
                           </div>
                       </li>
                       <li>
                           <div id="mainMenu_otherCategory_button" data-buttonid="OTHER">
                               Other
                           </div>
                       </li>
                    </ul>
                </li>
                <li class="mainMenu_user_li" style="float: right;">
                    <img src="./resources/img/user.png"/>
                    <div></div>
                    <ul class="mainMenu_dropdownUserNoLogin_ul">
                        <li>
                            <div id="mainMenu_signup_button" data-buttonid="SIGNUP">
                                Sign Up
                            </div>
                        </li>
                        <li>
                            <div id="mainMenu_login_button" data-buttonid="LOGIN">
                                Login
                            </div>
                        </li>
                    </ul>
                    <ul class="mainMenu_dropdownUserWithLogin_ul"
                        style="display:none;">
                        <li>
                            <div id="mainMenu_myProfile_button" data-buttonid="MYPROFILE">
                                My Profile
                            </div>
                        </li>
                        <li class="mainMenu_ideaList_li">
                            <div id="mainMenu_myIdeas_button" data-buttonid="MYIDEAS">
                                My Ideas
                            </div>
                        </li>
                        <li class="mainMenu_ideaList_li">
                            <div id="mainMenu_followedIdeas_button"
                                 data-buttonid="MYFOLLOWEDIDEAS">
                                Followed Ideas
                            </div>
                        </li>
                        <li>
                            <div id="mainMenu_logout_button" data-buttonid="LOGOUT">
                                Logout
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="mainMenu_about_li" style="float: right;" data-buttonid="ABOUT">
                    <img data-buttonid="ABOUT" src="./resources/img/info.png"/>
                </li>
                
                <li class="mainMenu_mySearch_li" style="float: right;">
                    <img src="./resources/img/lupe.png" data-buttonid="MYSEARCH"/>
                    <div></div>
                    <ul class="mainMenu_dropdownMySearch_ul">
                        <li>
                            <div>
                                <input type="text" name="search" placeholder="Search...">
                            </div>
                        </li>
                    </ul>
                </li>

                <div class="mainMenu_languageSwitch_div">
                    <label class="mainMenu_languageSwitch_label">
                        <input id="mainMenu_languageSwitch_checkbox"
                               type="checkbox" data-buttonid="LANGUAGESWITCH">
                        <div class="mainMenu_languageSwitch_slider round"></div>
                    </label>
                </div>

            </ul>
        </nav>
    </header>
    <!----------------------------------- Views Container ----------------------------------->
    <div class="containerViews">