    <!---------------------------------- Header --------------------------------->
    <header class="mainMenu_view">
        <nav>
            <div class="mainMenu_logo_button"><img src="./resources/img/logo.png"/></div>
            <ul>
                <li><a class="mainMenu_hot_button">Hot</a></li>
                <li><a>Trending</a></li>
                <li><a>Fresh</a></li>
                <li><a>Categories</a>
                <ul>
                   <li><a>Categorie 1</a></li>
                   <li><a>Categorie 2</a></li>
                   <li><a>Categorie 3</a></li>
                </ul>
                </li>
                <button class="mainMenu_login_button">Login</button>
                <div class="mainMenu_lupe_button"><img
                        src="./resources/img/lupe.png"/></div>
                <div class="mainMenu_user_button"><img
                        src="./resources/img/user.png"/></div>
                <div class="mainMenu_language_toggle">
                    <label class="mainMenu_switch">
                        <input type="checkbox">
                        <div class="mainMenu_slider round"></div>
                    </label>
                </div>
            </ul>
        </nav>
    </header>
    <!----------------------------------- Views Container ----------------------------------->
    <div class="containerViews">