        <!----------------------------------- View : profile --------------------------------->
        <div class="profile_view">
            <!----------------------------------- View : userProfile : tabs --------------------------->
            
            <ul class="tab">
                <li><a href="javascript:void(0)" class="tablinks"
                       onclick="openTab(event, 'hot')"
                       id="profile_defaultOpen_tabElement">Meine Ideen</a></li>
                <li><a href="javascript:void(0)" class="tablinks"
                       onclick="openTab(event, 'fresh')">Ideen, denen ich folge</a></li>
                <li><a href="javascript:void(0)" class="tablinks"
                       onclick="openTab(event, 'trending')">Benutzerdaten</a></li>
            </ul>
            
            <!----------------------------------- View : userProfile : tab "hot" --------------------------->
            <div id="profile_contentHot_tab" class="profile_contentHot_tab">
                <h3>Hier stehen meine Ideen.</h3>
                <img src="./resources/img/test.png" alt="" />
            </div>
	
            <!----------------------------------- View : userProfile : tab "fresh" --------------------------->
            <div id="profile_contentFresh_tab" class="profile_contentFresh_tab">
                <h3>Hier stehen die Ideen, denen ich folge.</h3>
            </div>

            <!----------------------------------- View : userProfile : tab "trending" --------------------------->
            <div id="profile_contentTrending_tab"
                 class="profile_contentTrending_tab">