        <!----------------------------------- View : profile --------------------------------->
        <div class="profile_view">
            <!----------------------------------- View : userProfile : tabs --------------------------->
            <nav>
                <ul class="profileView_subMenuButtons">
                    <li class="mainMenu_ideaList_li">
                        <div class="profileSubMenu_myIdeas_button"
                            data-buttonid="MYIDEAS">
                            My Ideas
                        </div>
                    </li>
                    <li class="mainMenu_ideaList_li">
                        <div class="profileSubMenu_followedIdeas_button"
                            data-buttonid="MYFOLLOWEDIDEAS">
                            My Followed Ideas
                        </div>
                    </li>
                    <li class="profileView_myProfileButton_li">
                        <div class="profileSubMenu_profileEdit_button"
                           data-buttonid="MYPROFILE">
                            My Profile
                        </div>
                    </li>
                </ul>
            </nav>
