        <!----------------------------------- View : profile --------------------------------->
        <div class="profile_view">
            <!----------------------------------- View : userProfile : tabs --------------------------->

            <nav>
                <ul>
                    <li><a class="profileSubMenu_myIdeas_button">My Ideas</a></li>
                    <li><a class="profileSubMenu_followedIdeas_button">Followed Ideas</a></li>
                    <li><a class="profileSubMenu_profileEdit_button">Profile</a></li>
                </ul>
            </nav>

            <!--
            <ul class="tab">
                <li><a href="javascript:void(0)" class="profile_tabLinks"
                       onclick="openTab(event, 'myIdeas')" id="profile_defaultOpenTab">Meine Ideen</a></li>
                <li><a href="javascript:void(0)" class="profile_tabLinks"
                       onclick="openTab(event, 'followedIdeas')">Ideen, denen ich folge</a></li>
                <li><a href="javascript:void(0)" class="profile_tabLinks"
                       onclick="openTab(event, 'profileEdit')">Benutzerdaten</a></li>
            </ul>


            <div id="profile_myIdeas_tab" class="profile_tabContent">
                <h3>Hier stehen meine Ideen.</h3>
                <img src="./resources/img/test.png" alt="" />
            </div>
	
            <div id="profile_followedIdeas_tab" class="profile_tabContent">
                <h3>Hier stehen die Ideen, denen ich folge.</h3>
            </div>

            <div id="profile_profileEdit_tab" class="profile_tabContent">
            -->