		<!----------------------------------- View : signUp --------------------------------->
		<div class="signUp_view">
			<h1 class="signUp_header">Sign Up</h1>
			<form>
				<!-- action="hierhin_wird_es_mit_submit_geschickt" -->
				<div class="required_input">
					<p>
						<label for="signUp_userName_input">Username</label><br>
						<input id="signUp_userName_input" type="text"
							   required />
					</p>
		
				</div>
		
				<div class="required_input">
					<p>
						<label for="signUp_mail_input">Email</label><br>
						<input id="signUp_mail_input"
							   type="email" placeholder="email@example.org"
							   required />
					</p>
				</div>
				
				<div class="required_input">
					<p>
						<label for="signUp_password_input">Password</label><br>
						<input id="signUp_password_input"
							   type="password" placeholder="******"/>
					</p>
				</div>
				
				<div class="required_input">
					<p>
						<label for="signUp_passwordRepeated_input">Password
							Repeated</label><br>
						<input id="signUp_passwordRepeated_input"
							type="password" placeholder="******"/>
					</p>
				</div>
				<p><input id="signUp_submit_button" type="submit"
						  value="Register Now!"></p>
			</form>
		
		</div>