			<!----------------------------------- View : signUp --------------------------------->
			<div class="signUp_view">
				<h1 class="signUp_header">Sign Up</h1>
				<form class="signup_form">
					<!-- action="hierhin_wird_es_mit_submit_geschickt" -->
					<div class="required_input">
						<p>
							<label id = "signUp_userName_label" for="signUp_userName_input">Username</label><span class="signUp_error_span"><label class="signUp_userNameError_label" for="signUp_userName_input"></label></span><br>
							<input id="signUp_userName_input" type="text"
								   required />
						</p>
			
					</div>
			
					<div class="required_input">
						<p>
							<label id = "signUp_mail_label" for="signUp_mail_input">Email</label><span class="signUp_error_span"><label class="signUp_mailError_label" for="signUp_mail_input"></label></span><br>
							<input id="signUp_mail_input"
								   type="email" placeholder="email@example.org"
								   required />
						</p>
					</div>
					
					<div class="required_input">
						<p>
							<label id = "signUp_password_label" for="signUp_password_input">Password</label><span class="signUp_error_span"><label class="signUp_passwordError_label" for="signUp_password_input"></label></span><br>
							<input id="signUp_password_input"
								   type="password" placeholder="******" />
						</p>
					</div>
					
					<div class="required_input">
						<p>
							<label id = "signUp_passwordRepeated_label" for="signUp_passwordRepeated_input">Password
								Repeated</label><span class="signUp_error_span"><label class="signUp_passwordRepeatedError_label" for="signUp_passwordRepeated_input"></label></span><br>
							<input id="signUp_passwordRepeated_input"
								type="password" placeholder="******" />
						</p>
					</div>
					<p><input id="signUp_submit_button" type="submit"
							  value="Register Now!"></p>
				</form>
			
			</div>
		</div>