        <!----------------------------------- View : profile --------------------------------->
        <div class="userMenu_view">
            <!----------------------------------- View : userProfile : tabs --------------------------->
            <nav>
                <ul class="userMenu_Buttons">
                    <li class="mainMenu_ideaList_li">
                        <div class="userMenu_myIdeas_button"
                            data-button-id="MYIDEAS">
                            My Ideas
                        </div>
                    </li>
                    <li class="mainMenu_ideaList_li">
                        <div class="userMenu_followedIdeas_button"
                            data-button-id="MYFOLLOWEDIDEAS">
                            My Followed Ideas
                        </div>
                    </li>
                    <li class="userMenu_myProfileButton_li">
                        <div class="userMenu_profileEdit_button"
                           data-button-id="MYPROFILE">
                            My Profile
                        </div>
                    </li>
                </ul>
            </nav>
